<button type="button" class="PortfolioContent-Item-Button" data-button="back"><span class="icon-circle-left PortfolioBack"></span></button>

<div class="PortfolioContent-Header">
	<div class="PortfolioContent-Header__row">
		<p class="PortfolioContent-Header__p celdaPrimaria">Título</p>
		<p class="PortfolioContent-Header__p celdaSecundaria">Desarrollo de una aplicación web y móvil, para la administración de un servicio de logística para PYMES (Módulo <i>Back-end</i>)</p>
	</div>
	<div class="PortfolioContent-Header__row">
		<p class="PortfolioContent-Header__p celdaPrimaria">Tecnologías</p>
		<p class="PortfolioContent-Header__p celdaSecundaria">Node.js, MongoDB, HTML5, CSS3, JS, jQuery, Cordova</p>
	</div>

	<div class="PortfolioContent-Header__row">
		<p class="PortfolioContent-Header__p celdaPrimaria">Año</p>
		<p class="PortfolioContent-Header__p celdaSecundaria">2013-2014</p>
	</div>


	<div class="PortfolioContent-Header__row">
		<p class="PortfolioContent-Header__p celdaPrimaria">Enlace</p>
		<p class="PortfolioContent-Header__p celdaSecundaria"></p>
	</div>
</div>

<div class="PortfolioContent-Text">
	<p>El objetivo del proyecto queda bien reflejado en su propio título, se trataba de realizar una aplicación web capaz de administrar un servicio de logísitica. Ello conllevaba realizar un gran trabajo, ya que requería de la aplicación fuese capaz de diferenciar varios roles (jefe, empleado, administrador de la aplicación, etc.) y también comunicaciones en tiempo real gracias al sistema de pago. Para todo ello he escogido Node.js y MongoDB.</p>
	<p>La aplicación se divide en varias partes: gestión de productos, gestión de empleados, sistema de pago, chat con el servicio técnico, etc. Ha sido un proyecto que me ha llevado bastante tiempo y sólo he desarrollado la parte <i>back-end</i>, aunque he utilizado un poco CSS para amenizar la presentación. Aún con el tiempo empleado en ella, no creo que sea una aplicación capaz de salir al mercado por varios motivos: mi falta de conocimiento en seguridad por aquel entonces y la falta de algunas funcionalidades. Lo positivo e este proyecto ha sido todo lo que he aprendido del desarrollo <i>back-end</i>, Node.js y MongoDB.</p>
	<p>A parte del servidor, también he desarrollado una aplicación móvil encargada de enviar en tiempo real códigos de barras al servidor. Para ello he utilizado Cordova, lo que me ha permitido reciclar mucho código de la aplicación web, y seguir utilizando websockets para la comunicación de forma sencilla.</p>
	<p>La aplicación no está disponible a día de hoy, pero en un período corto de timepo la volveré a publicar.</p>
</div>



<script src="js/portfolio.js"></script>