<section class="StudieContainer-Item">
	<h2 class="StudiesContainer-Item-Header">Titulaciones</h2>
	<div class="StudiesContainer-Item-Content__noActive" id="degrees">
		<div class="StudiesContainer-Item-Content">
			<img src="images/logo-uvigo.png" class="StudiesContainer-Item-image" alt="" height="100" width="100">
			<img src="images/logo-teleco.png" alt="" class="StudiesContainer-Item-image" height="100" width="100">
			<p class="StudiesContainer-Item-p">Ingeniero Ténico de Telecomunicaciones, especialidad en Imagen y sonido (2008-2014)</p>
		</div>

		<div class="StudiesContainer-Item-Content">
			<img src="images/logo-uoc.jpg" class="StudiesContainer-Item-image" alt="" height="100" width="100">
			<img src="images/logo-mistic.png" class="StudiesContainer-Item-image" alt="" height="100" width="100">
			<p class="StudiesContainer-Item-p">Máster en Seguridad de las TIC, especialidad aplicaciones y servicios (2014-2015)</p>
		</div>
		
	</div>
	<div class="StudiesContainer-Item-Footer">
		<button type="button" class="StudiesContainer-ButtonDown " data-button="degrees"><span class="icon-circle-down" id="degreesSpan"></span></button>
	</div>
</section>
<section class="StudieContainer-Item">
	<h2 class="StudiesContainer-Item-Header">Cursos</h2>
	<div class="StudiesContainer-Item-Content StudiesContainer-Item-Content__noActive" id="courses">
		<article class="StudiesContainer-Item-Content">Hola</article>	
	</div>
	<div class="StudiesContainer-Item-Footer">
		<button type="button" class="StudiesContainer-ButtonDown" data-button="courses"><span class="icon-circle-down" id="coursesSpan"></span></button>
	</div>
</section>
<section class="StudieContainer-Item">
	<h2 class="StudiesContainer-Item-Header">Idiomas</h2>
	<div class="StudiesContainer-Item-Content StudiesContainer-Item-Content__noActive" id="languages">Hola</div>
	<div class="StudiesContainer-Item-Footer">
		<button type="button" class="StudiesContainer-ButtonDown" data-button="languages"><span class="icon-circle-down" id="languagesSpan"></span></button>
	</div>
</section>

<script src="js/studies-degrees.js"></script>