<section class="StudieContainer-Item">
	<h3 class="StudiesContainer-Item-Header">Titulaciones</h3>
	<div class="StudiesContainer-Item-Content__noActive" id="degrees">
		<section class="StudiesContainer-Item-Content__degrees">
			<img src="images/logo-uvigo.png" class="StudiesContainer-Item-image" alt="" width="100" height="100">
			<img src="images/logo-teleco.png" alt="" class="StudiesContainer-Item-image" width="100" height="100">
			<p class="StudiesContainer-Item-p">Ingeniero Ténico de Telecomunicaciones, especialidad en Imagen y sonido (2008-2014)</p>
		</section>

		<section class="StudiesContainer-Item-Content__degrees">
			<img src="images/logo-uoc.png" class="StudiesContainer-Item-image" alt="" width="100" height="100">
			<img src="images/logo-mistic.png" class="StudiesContainer-Item-image" alt="" width="100" height="100">
			<p class="StudiesContainer-Item-p">Máster en Seguridad de las TIC, especialidad en aplicaciones y servicios (2014-2015)</p>
		</section>
		
	</div>
	<div class="StudiesContainer-Item-Footer">
		<button type="button" class="StudiesContainer-ButtonDown" data-button="degrees"><span class="icon-circle-down" id="degreesSpan"></span></button>
	</div>
</section>
<section class="StudieContainer-Item">
	<h3 class="StudiesContainer-Item-Header">Cursos</h3>
	<div class="StudiesContainer-Item-Content__noActive" id="courses">
		<section class="StudiesContainer-Item-Content__courses">
			<img src="images/logo-java.png" class="StudiesContainer-Item-image" alt="" width="75" height="100">
			<p class="StudiesContainer-Item-p">Curso de formación en Java: Programación orientada a objetos para ingenieros (Uvigo 2012)</p>
		</section>
		<section class="StudiesContainer-Item-Content__courses">
			<img src="images/logo-android.png" class="StudiesContainer-Item-image" alt="" width="133" height="100">
			<p class="StudiesContainer-Item-p">Curso de formación en iniciación a la programación de dispositivos Android (Uvigo 2012)</p>
		</section>
		<section class="StudiesContainer-Item-Content__courses">
			<img src="images/logo-sql.png" class="StudiesContainer-Item-image" alt="" width="100" height="100">
			<p class="StudiesContainer-Item-p">Curso de formación en administrador y desarrollador de bases de datos (Uvigo 2013)</p>
		</section>
		<section class="StudiesContainer-Item-Content__courses github_logo">
			<img src="images/logo-git.png" class="StudiesContainer-Item-image" alt="" width="100" height="100">
			<img src="images/logo-github.png" class="StudiesContainer-Item-image" alt="" width="100" height="100">
			<p class="StudiesContainer-Item-p">Curso profesional de Git y Github (Cursos Platzi 2015)</p>
		</section>
		<section class="StudiesContainer-Item-Content__courses">
			<img src="images/logo-frontend.png" class="StudiesContainer-Item-image" alt="" width="190" height="100">
			<p class="StudiesContainer-Item-p">Carrera Front-end (sin examen de certificación)</p>
		</section> 		
	</div>
	<div class="StudiesContainer-Item-Footer">
		<button type="button" class="StudiesContainer-ButtonDown" data-button="courses"><span class="icon-circle-down" id="coursesSpan"></span></button>
	</div>
</section>
<section class="StudieContainer-Item">
	<h3 class="StudiesContainer-Item-Header">Idiomas</h3>
	<div class="StudiesContainer-Item-Content__noActive" id="languages">
		<section class="StudiesContainer-Item-Content__languages">
		<img src="images/bandera-gb.png" class="StudiesContainer-Item-image" alt="" width="150" height="100">
		<p class="StudiesContainer-Item-p">Inglés B1 (EOI Vigo 2014)</p>
		<p class="StudiesContainer-Item-p">Inglés Avanzado 1 (EOI Santiago 2015)</p>
		</section>
		<section class="StudiesContainer-Item-Content__languages">
			<img src="images/bandera-gz.png" class="StudiesContainer-Item-image" alt="" width="150" height="100">
			<p class="StudiesContainer-Item-p">Gallego (Nativo)</p>
		</section>
		<section class="StudiesContainer-Item-Content__languages">
			<img src="images/bandera-es.png" class="StudiesContainer-Item-image" alt="" width="150" height="100">
			<p class="StudiesContainer-Item-p">Castellano (Nativo)</p>
		</section> 
	</div>

	<div class="StudiesContainer-Item-Footer">
		<button type="button" class="StudiesContainer-ButtonDown" data-button="languages"><span class="icon-circle-down" id="languagesSpan"></span></button>
	</div>
</section>

<script src="js/studies/degrees.js"></script>