<section class="PortfolioContainer" id="portfolio">
	<header class="PortfolioHeader">
		<h2>Portafolio</h2>
	</header>
	<section class="PortfolioContent">
		<div class="PortfolioContent-Item">
			<button type="button" class="PortfolioContent-Item-Button" data-button="uvigo"><img src="images/logo-uvigo.png" class="PortfolioContent-Item-Image" alt="" width="200" height="200"></button>
			<p class="PortfolioContent-Item-P">Proyecto de final de carrera de Ingeniería técnica de telecomunicaciones</p>
		</div>
		<div class="PortfolioContent-Item">
			<button type="button" class="PortfolioContent-Item-Button" data-button="mistic"><img src="images/logo-uoc.png" class="PortfolioContent-Item-Image" alt="" width="250" height="200"></button>
			<p class="PortfolioContent-Item-P">Proyecto de final de máster del MISTIC</p>
		</div>
		<!-- <div class="PortfolioContent-Item">
			<button type="button" class="PortfolioContent-Item-Button" data-button="my-portfolio"><img src="images/portfolio.jpg" class="PortfolioContent-Item-Image" alt="" width="300" height="150"></span></button>
		</div> -->
	</section>
</section>

<script src="js/portfolio.js"></script>
