html {
	font-size: 16px;
}

p{
	margin:0;
	display:block;
}

.NavContainer{
	position: fixed;
	width: 20%;
	background: green;
	font-size: 1em;
	height: 100%;
}
 .NavContainer-List{
 	display:block;
	margin-top: 100%;
 }

.NavContainer-List-Item{
	top:50%;
	text-align: center;
	padding: 0;
	background:grey;
}
.MainContainer{
	position:absolute;
	left:20%;
	width: 80%;
	top:0;
	bottom:0;
	background: grey;
	font-size: 1em;
}

.MainContainer-Content{
	background: yellow;
	margin:5%;

}