html {
	font-size: 16px;
}

body{
	background: black;
}

ul{
	margin:0;
	padding: 0;
}
p{
	margin:0;
	display:block;
}


/*Nav clases*/
.NavContainer{
	position: fixed;
	top: 5%;
	bottom: 5%;
	left:5%;
	width: 10%;
	background: black;
	font-size: 1.5em;
}

.NavContainer-Button-First{
	background: #FF9C00;
	-webkit-border-radius: 15px 0 0 0;
	-moz-border-radius: 15px 0 0 0;
	border-radius: 15px 0 0 0;
}

.NavContainer-Button-Last{
 	-webkit-border-radius: 0 0 0 15px;
	-moz-border-radius: 0 0 0 15px;
	border-radius: 0 0 0 15px;

}

.NavContainer-Button__active{
	background:#FF9C00;
}

.NavContainer-Button__noActive{
	background: white;
}

.NavContainer-Button{
	border:none;
	display: block;
	width: 100%;
	height: 25%;
	padding: 1em 0;
	margin: 0;
}

.NavContainer-Button:focus{
	outline: 0;
}

/*Provisional*/
/*.NavContainer-Text{
	border:none;
	width: 100%;
	height: 100%;
	padding: 1em 0;
	background: none;
	margin: 0;
}*/


/*Container clases*/
.MainContainer{
	position:absolute;
	left:15%;
	width: 80%;
	top:5%;
	right: 5%;
	min-height: 90%;
	background: #FF9C00;
	-webkit-border-radius: 0 15px 15px 0;
	-moz-border-radius: 0 15px 15px 0;
	border-radius: 0 15px 15px 0;
	font-size: 1em;
}

/*CSS Me Page*/
.MeContainer{
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display:flex;
	flex-direction:row;
	color:white;
	margin:5%;
	justify-content:space-around;
}

.MeContainer-Article{
	flex:1;
	padding:1em;
}

.MeContainer-Info{
	flex:1;
	display:flex;
	flex-direction:column;
	padding: 1em;
}

.MeContainer-Info-Image{
	flex:1;
	text-align: center;
}

.MeContainer-Info-ImageContainer{
	margin:1em;
	border-radius: 50%;
}
.MeContainer-Info-Data{
	flex:1;
}

/*CSS Studies Page*/
.StudiesContainer{
	display:inline-block;
	color:white;
	background: none;
	margin:5%;
}

/*CSS Portfolio Page*/
.PortfolioContainer{
	display:inline-block;
	color:white;
	background: none;
	margin:5%;
}

/*CSS Contact Page*/
.ContactContainer{
	display:inline-block;
	color:white;
	background: none;
	margin:5%;
}

/*Fonts*/

@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot?a9za75');
	src:url('../fonts/icomoon.eot?#iefixa9za75') format('embedded-opentype'),
		url('../fonts/icomoon.ttf?a9za75') format('truetype'),
		url('../fonts/icomoon.woff?a9za75') format('woff'),
		url('../fonts/icomoon.svg?a9za75#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-user:before {
	content: "\e600";
}
.icon-mail:before {
	content: "\e601";
}
.icon-study:before {
	content: "\e602";
}
.icon-wallet:before {
	content: "\e603";
}